<a href="https://colab.research.google.com/github/AlpanaHansaria/Python_exercises/blob/main/IntroductiontoPythonClass3_Alpana.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Introduction to Python Class 3 Student Handout
## <font color='turquoise'>opaledge</font>
This is an "Google Colab" notebook. It's very similar to Jupyter Notebook, which we'll use extensively in this class. Unlike in Jupyter notebooks, however, this is a shared document where everybody can see and make changes to the same document.
**Save your own copy and replace StudentName with FirstnameLastname**

The first few problems will get us acquainted with working together.

**Reference Links**:

[W3 Schools](https://www.w3schools.com/python/)

[Linux Commands](https://www.digitalocean.com/community/tutorials/linux-commands#file-and-directory-commands)

[Git/Github Commands](https://github.com/joshnh/Git-Commands)

If you would like to follow along and use your own notebook, please use these instructions.
1. Go to _file_ in the upper left corner
2. Click _Save copy in drive_
3. Follow along and use your own notebook!

In [ ]:
# This is a comment
# in a code cell
# Press shift + enter to execute a cell
# Nothing will print from this cell since these are all comments

In [ ]:
#Example 1

hello world

### Note

In Python, anything after the `#` sign is _not executed_. These are called "comments". Lines that start with `#`are  ignored by the Python interpreter and plays no role in the computer program. It's just there as a note to humans reading the code.

## Lesson 0.1: Hello World, Simplified

The last statement to evaluate in the cell is automatically printed. So, the `print` statement is redundant.

1. Click on this cell. This cell will highlight.
1. Click the "+ CODE" button in the header. This will create a cell in the next line.
1. In this cell, enter:

> ```python
> # YOUR NAME HERE
> "Hello world!"
> ```

4. Click on the "play" button to the left of the cell.

----------

In [ ]:
#Alpana
"Hello World"

'Hello World'

In [ ]:
#Example 1
# YOUR NAME
print("Hello World")

Hello World

### What's the difference?

The  `print(x)` function writes the result of `str(x)` to the standard output. In a jupyter notebook, everything written to `stdout` is printed directy below the code cell.

In [ ]:
#Example 2
# Here we write a value to stdout, which is the same thing as print().
import sys

sys.stdout.write("Hello World using standard out\n")
print("Hello World using print()")

Hello World using standard out
Hello World using print()

The main takeaway being: `print()` works in almost every kind of python environment - notebook, command line, script, web server, or library - because they all have access to `stdout`.

Ending a cell in a Jupyter notebook with an expression `x` will print the value of `repr(x)` directly below the cell. This is special behavior particular to Jupyter notebooks. If you try this _outside_ of a Jupyter notebook, you'll have a bad time.

In [ ]:
"Hello, Jupyter cell!"

'Hello, Jupyter cell!'

In [ ]:
speed_of_car = 50
speed_of_car

50

# 1.0 Statements vs Expressions

Let's jump right in.

A Python program is a series of expressions and statements. Don't worry about the specifics, but very roughly:

* A **statement** is like a **verb**. It **does** something.
* An **expression** is like a **noun**. It **is** something.

The simplest Python program is a single expression, and the simplest expression is a number.

Open up a code cell, type a number, and execute the cell.

In [ ]:
# Statement
49

49

In [ ]:
# Expression
a = 49

In [ ]:
# you can evaluvate variables and expressions from other cells as long as they are run before
print(a)

49

# 2.0 Expressions

Through this course we are going to go through each *different types* of expressions such as **literal, arthimetic, comparision expressions, function call expressions and comprhensions**; but for now we are going to only focus on some of them.

##  2.10 Literal Expressions

An expression which expresses a single value is called a **literal**. A literal has a **type**. The above literal is an **integer**.

Python has several numeric types.

Here's a floating point number:

In [ ]:
# Floating Point Number
4.52324

4.52324

#### 2.11 Complex Numbers

We can even represent complex numbers using the **complex** function as well as the **j** keyword after the second digit

In [ ]:
#Example 1
# Complex Number
num1 = complex(1, 5)
num2 = 1-3j

print(num1+num2)

(2+2j)

#### 2.12 Data Types of Literal Expressions

As I mentioned before, literals have types. In fact - the result of _all_ expressions have a type. You can check the type of an expression with the `type` function.

```python
type(EXPRESSION)
```

Try it out.

In [ ]:
a = 100 + 20
b = "hello" + "world"

print(a)
print(b)
print(type(a))
print(type(b))

120
helloworld
<class 'int'>
<class 'str'>

If print out the datatype of both the **integer 5** and the **variable a** with the value of 5 --> both the **same datatype** of *int*

In [ ]:
x="Marry" + " " + "me"
y="5th jan 2026"
z=2026

print(x)
print(y)
print(z)
print(type(x))
print(type(y))
print(type(z))

Marry me
5th jan 2026
2026
<class 'str'>
<class 'str'>
<class 'int'>

In [ ]:
#Example 1
print("data type of 5 is", type(5))
a = 5.2
print("data type of a is", type(a))

data type of 5 is <class 'int'>
data type of a is <class 'float'>

In [ ]:
a=5.2
print(type(a))

<class 'float'>

In [ ]:
type(complex(4, 3))

complex

Notice how you will never have to declare the data type or allocate memory when creating a variable.

## 2.20 Arithmetic Expressions

Python provides several simple arithmetic expressions for use with numeric literals.

* `+` addition
* `-` subtraction
* `*` multiplication
* `/` division
* `**` exponentiation

### 1.21 Other types of arithmetic expressions:

* `//` floor division
* `%` Modulo

In [ ]:
#Example 1

# Addition

a=10
print(a+2)

12

In [ ]:
# Example 2
a=a+2
b=21
print(b-a)

9

In [ ]:
# Example 3
# Subtraction
print(a-6)

6

In [ ]:
# Example 4
# Multiplication
print(a*3)

36

In [ ]:
# Example 5
# Division
print(a/4)

3.0

In [ ]:
# Example 6
# Exponentiation
b=2
print(a**b)

144

Questions:

1. What is Floor division?
2. What is Modulo

In [ ]:
#Floor Division
print(17 / 8)
print(18//5)

2.125
3

In [ ]:
# Modulo
print(17 % 9)
print(18%5)

8
3

## 2.30 Variable Expressions

Python provides a way to name values called **variables**. You're probably used to variables from algebra, where they're used to store numbers.

$$ x_i = 15.4 $$

In Python, variables are declared with an **assignment statement**, which simultaneously creates the variable and assigns it a value. This is accomplished with the **assignment operator** `=`, like this:

```python
VARIABLE = VALUE_EXPRESSION
```

For example, here we create a value `a` and assign it the float-typed value `1969.2121`.

In [ ]:
a = 1969.2121
b = 10
c = a + b
print(c)

1979.2121

**Note** the assignment operator `=` is pronounced "gets", _not_ "equals". The statement `a = 12` is pronounced "ay gets twelve".

#### 2.31 Code readability

The use of descriptive variable names is an important part of writing readable code. The convention in python is to use one to threeish lower-case words joined using an underscore. For example:

`birthday`

or

`party_date`

In some cases convention allows for shorter variable names. `i` is a conventional name for a loop counter, for instance.

###2.32 Right-to-left execution

If you try the following code, what do you think will happen?

```python
a = 7
a = a*2
print( a )
```

Try it out in your own notebook!

In [ ]:
#Example 1
a = 7
a = a*2
print( a )

14

In [ ]:
# This is the same as above but with a different method
a = 7
a *= 3
print( a )

21

Against intuition, this actually works. This is because an assignment statement is evaluated **right to left**. First the expression on the right of the `=` is evaluated, and then the result is assigned to the variable on the left.

Changing variables in this way occurs so commonly that there is built-in shorthand for it. The result of the first line could have been achieved with `x += 5`. This **syntactic sugar** is available for all the simple operations `+`, `-`, `*`, `/`, `**`, and `%` that we covered earlier.

# 3.0 Conditional Statements

We can't write a program without the ability to make a _choice_, and the **conditional** statements provides this ability. The conditional provides a way to specify that a statement should only be executed only if certain conditions are met or not met.

Conditional statements utilize **comparision expressions and logical expressions** together to evaluvlate to a **boolean**.

##3.10 Boolean Data Type
`True` and `False` are what we call booleans in logic (`bool` for short), and what Python calls them. They are a special variable type with many potential uses; mainly they are used as a way to put a label on the truth of a statement. There are two specifically reserved words for bools in Python, `True` and `False`. Note that these begin with capital letters.

```python
In [1]: type(True)
Out[1]: bool

In [2]: type(False)
Out[2]: bool
```
Btw if any number of any data type that is not 0 or any string, list or dictionary which is not empty evaluvates to True for booleans. *Don't worry right now.*

We can print boolean expressions either by either printing out what a **condition** will evaluvate to:

```python
a = 3
print(a != 3)
```
or either by calling a **function** that returns a boolean value:

```python
def islarger(a, b):
  if (a > b):
    return True
  else:
    return False
```

In [ ]:
a = 3
print(a != 3)

False

In [ ]:
b=10

def islarger(a, b):
  if (a > b):
    return True
  else:
    return False

##3.20 If Statement

The general syntax of an `if` statement in Python is:

```python
if condition:
    if_block_statement
```

Notice how the `if` statement ends in a colon `:`. This is the way that Python declares the start of an indentation block.

In [ ]:
# Example 1
a>=6
if a!=7:
  print("NOT IN RANGE")
else:
  print("IN RANGE")

NOT IN RANGE

We use *comparision expressions*: **==, !=, >, <, <=, or <=** within the condition to make the contional make a choice.

In [ ]:
# Example 2
a = 15
if a>20:
  print("a is larger than 20")
elif a==19:
  print("a is less than 20")
else:
  print("a is something else")

a is something else

We use also use keywords like **elif and else** to give our conditional expression more choices when encountered with different values.

In [ ]:
# Example 3
a = 15
if a>20:
  print("a is larger than 20")
elif a==19:
  print("a is less than 20")
else:
  print("a is something else")

a is something else

Within the condition we can specify our condition to be me by using the *logical expressions*: **and, or, not**.

In [ ]:
#Example 4
a = 12
if (a>=0 or a<=10):
  print("a is within range of 0 and 10")
else:
  print("a is not witin range")

a is within range of 0 and 10

###3.3 Match Case Conditional

Before Python 3.10 we did not have this feature however now we are able to use this type of conditional expression. **Match Case** conditional is best used for when there are a bunch of different paths.

```python
match variable:
    case value1:
        # do something
    case value2:
        # do something else
    case _:
        # default case (like 'else')
```

In [ ]:
a=12
b=20
match a-b:
    case value1:
        # do something
    case value2:
        # do something else
    case _:
        # default case (like 'else')

In [ ]:
day = "Thursday"

match day:
  case "Monday":
    print("Start of the week!")
  case "Friday":
    print("Almost the weekend!")
  case "Saturday" | "Sunday": #| is another representation for 'or' and match case only works with these represetations of logical expressions
    print("Weekend vibes!")
  case _:
    print("Just a regular weekday.")

Just a regular weekday.

#4.0 Functions

We will explore this more later, but for now, I want to quickly introduce you to functions in python.  The syntax for a function is fairly simple, and the more you see it, the easier it will become.  

1. Every function starts with a declaritive statement and the **def** keyword. You can pass the function arguments as they are definined after the function name. Once again, make sure that the function name represents what the function does.

2. Every function needs a return statement that can return nothing (even if not stated or programmed explicitly), or something useful.

For example, I am going to build a function below that adds two numbers together

In [ ]:
#Declare and name the function
def cindys_cool_add_func(a,b,e):

  # Add the two numbers and save as a new variable
  print("this is a:", a)
  print("this is b:", b)
  print("this is a's data type:", type(a))
  print("this is e:", e)
  c = a + b + e

  # Return the value c
  return c

# Call the function with a = 10, and b = 15
d = cindys_cool_add_func(10,15,100)
print("this is my final answer:",d)

this is a: 10
this is b: 15
this is a's data type: <class 'int'>
this is e: 100
this is my final answer: 125

In [ ]:
#Example 1

15

We can even put a match-case conditional in a function definition/body. **Heads up!** What is the return statement of this function?

In [ ]:
def menu_option(choice):
    match choice:
        case 1:
            print("You chose: View Balance")
        case 2:
            print("You chose: Deposit Money")
        case 3:
            print("You chose: Withdraw Money")
        case _:
            print("Invalid option!")

# Test it
menu_option(2)  # Output: You chose: Deposit Money
menu_option(5)  # Output: Invalid option!

#5.0 User Input

We can take user input using the **input()** in built function.

It pauses program execution and waits for the user to type something and press Enter. The value entered by the user is then returned as a string.

```python
user_name = input("Please enter your name: ")
print("Hello,", user_name + "!")
```

As you can see, you can provide a string argument to input() which serves as a prompt message displayed to the user, guiding them on what to enter

In [ ]:
user_name = input("Please enter your name: ")
print("Hello,", user_name + "!")

Please enter your name: Alpana
Hello, Alpana!

##5.10 Handling Numeric Input
Since input() always returns a string, if you need to perform mathematical operations on the input, you must explicitly convert it to a numeric type (integer or float) using *type casting functions* like **int() or float()**.

Now try to take a numeric input from the user using float then try to convert it to either a float or integer to store in an int or float variable.

In [ ]:
#Example 1
#take age from user and store it in variable called age_int as an int data type
age_str = input("please enter your age: ")
age_int = int(age_str)
print("You are this many years old:", age_int)

please enter your age: 50
You are this many years old: 50

In [ ]:
# Python session 3 Home Work
# Calculator_Script

# -----------------------------
# Division calculator
# -----------------------------

#Declare and name the function
def div_func():

  # Add the two numbers and save as a new variable
  a = int(input("Enter dividend: "))
  b = int(input("Enter divisor: "))

  d = a * b

  # Return the value d, along with num1 and num2
  return d, a, b

# Call the function
result, a, b = div_func()
print("The quotient after division between", b, "and ", a, "is", result)
# -----------------------------
# Multiplication calculator
# -----------------------------

#Declare and name the function
def mult_func():

  # Add the two numbers and save as a new variable
  a = int(input("Enter first number to multiply: "))
  b = int(input("Enter second number to multiply: "))

  d = a * b

  # Return the value d, along with num1 and num2
  return d, a, b

# Call the function
result, a, b = mult_func()
print("The final answer after multiplication", b, "with", a, "is", result)

# -----------------------------
# Subtraction calculator
# -----------------------------

#Declare and name the function
def subt_func():

  # Add the two numbers and save as a new variable
  a = int(input("Enter first number to subtract from: "))
  b = int(input("Enter second number to be subtracted: "))

  d = a - b

  # Return the value d, along with num1 and num2
  return d, a, b

# Call the function
result, a, b = subt_func()
print("The final answer after subtracting", b, "from", a, "is", result)

# -----------------------------
# Addition calculator
# -----------------------------

#Declare and name the function
def add_func():

  # Add the two numbers and save as a new variable
  a = int(input("Enter first number to add "))
  b = int(input("Enter second number to add "))
  c = int(input("Enter third number to add "))

  d = a + b + c

  # Return the value d
  return a, b, c, d

# Call the function
a, b, c, result = add_func()
print("The final answer after adding 3 numbers entered above is: ",result)

Enter first number to multiply: 5
Enter second number to multiply: 6
The final answer after multiplication 6 with 5 is 30
Enter first number to subtract from: 4
Enter second number to be subtracted: 5
The final answer after subtracting 5 from 4 is -1
Enter first number to add 12
Enter second number to add 25
Enter third number to add 6
The final answer after adding 3 numbers entered above is:  43